$Strong-cyan: hsl(172, 67%, 45%);
$Light-cyan: hsl(172, 67%, 55%);

$Very-dark-cyan: hsl(183, 100%, 15%);
$Dark-grayish-cyan-01: hsl(186, 14%, 43%);
$Dark-grayish-cyan-02: hsl(184, 14%, 56%);
$Light-grayish-cyan-01: hsl(185, 41%, 84%);
$Light-grayish-cyan-02: hsl(189, 41%, 97%);
$White: hsl(0, 0%, 100%);

$base-font: 24px;
